/*mobile first*/

body{
	font-family: 'Segoe UI';
	margin: 0;
}

header{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 1000;
}

header::before{
	content: '';
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.logo{
	display: flex;
	align-items: center;
	z-index: 1000;
}

.logo img{
	height: 24px;
}

.logo img:hover{
	opacity: 80%;
}

/*menu icon*/

.menu{
	display: block;
	width: 32px;
	height: 48px;
	position: relative;
	cursor: pointer;
}

.menu-box{
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu{
	display:none;
}

.line{
	position: absolute;
	height: 4px;
	width: 100%;
	background: #000;
	border-radius: 6px;
	transition: .3s ease;
	margin: 8px 0;
}

.line:nth-child(1){top: 8px;}
.line:nth-child(2){top: 16px;}
.line:nth-child(3){top: 24px;}

#menu:checked + .menu .line:nth-child(1){
	transform: translateY(8px) rotate(-45deg);
}

#menu:checked + .menu .line:nth-child(2){
	opacity:0;
}

#menu:checked + .menu .line:nth-child(3){
	transform: translateY(-8px) rotate(45deg);
}

.pages{
	position: absolute;
	top: 100%; left: 0;
	width: 100%;
	height: 0;
	background-color: rgba(255, 255, 255, .5);
	backdrop-filter: blur(5px);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	transition: 1s ease;
	display: block;
	align-content: center;
}

.pages li{
	display: flex;
	text-align: center;
	opacity: 0;
	transition: .5s ease;
}

.pages li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	width: 100%;
	padding: 0;
	margin: 0;
	transition: .5s ease;
}

.pages li a:hover{
	text-decoration: underline;
	text-underline-offset: 8px;
}

#menu:checked~.pages{
	height: 300px;
}

#menu:checked~.pages li{
	opacity: 100%;
}

#menu:checked~.pages li>a{
	padding: 8px 0;
	margin: 8px 0;
}

main{
	margin-top: 48px;
}

.container-fluid{
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.container{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 244px;
}

.title{
	width: 190px;
}

.title h1{
	font-size: 2em;
	line-height: 1em;
	margin: 0px;
}

.title p{
	font-size: .75em;
	margin: 0px;
	color: #AAA;
}

.face{
	position: absolute;
	right: 0; bottom: 0;
	height: 244px;
}

.face .half{
	height: 244px;
}

.face .full{
	display: none;
}

.project{
	width: 90%;
	text-align: center;
}

.col-4 h1{
	text-transform: uppercase;
	font-size: 1em;
	margin: 24px 0 24px;
	color: #AAA;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEE;
}

@media only screen and (min-width: 425px){

	.title{
		width: 210px;
	}

	.face{
		position: absolute;
		right: 0; bottom: 0;
		height: 244px;
	}

	.face .half{
		display: none;
	}

	.face .full{
		display: block;
		height: 244px;
	}
}

@media only screen and (min-width: 600px){

	.container{
		height: 280px;
	}

	.face{
		position: relative;
		height: 280px;
	}

	.face .full{
		height: 280px;
	}

	.title{
		width: 280px;
	}

	.title h1{
		font-size: 2.5em;
		line-height: 1em;
		margin: 0px;
	}

	.title p{
		font-size: 1.2em;
		margin: 0px;
		color: #AAA;
	}

	.logo img{
		height: 32px;
	}
}

@media only screen and (min-width: 768px){

	.container{
		height: 400px;
	}

	.face{
		position: absolute;
		right: 0; bottom: 0;
		height: 400px;
	}

	.face .full{
		height: 400px;
	}

	.title{
		width: 320px;
	}

	.title h1{
		font-size: 2.5em;
	}

	.title p{
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1024px){

	.title{
		width: 400px;
	}

	.title h1{
		font-size: 4em;
	}

	.title p{
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1025px){

	.container{
		height: 600px;
	}

	.face{
		height: 600px;
	}

	.face .full{
		height: 600px;
	}

	.title{
		width: 400px;
	}
}

@media only screen and (min-width: 1152px){

	.container{
		max-width: 1040px;
	}

	nav{
		max-width: 1040px;
	}
}
